<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header">
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
      
      <nav class="main-nav">
        {% for section in site.navigation %}
          <div class="nav-section">
            <h3>{{ section.title }}</h3>
            <ul>
              {% for item in section.children %}
                <li><a href="{{ site.baseurl }}{{ item.url }}" class="btn">{{ item.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </nav>
    </header>

    <main class="main-content">
      {{ content }}
    </main>

    <footer class="site-footer">
      <span class="site-footer-owner">
        <a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by 
        <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.
      </span>
    </footer>
  </body>
</html> 